@import "../../definitions";

.trigger {
  background-color: white;
  @include font-size-and-vertical-height($font-size-base-in-px, 48);
  height: 48px;
  margin: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 48px;
}

.trigger--prev {
  left: 0;
}

.trigger--next {
  right: 0;
}

 /* The switch - the box around the slider */
.switch {
  @include margin(0 5 36);
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  background-color: #2196F3;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
  -webkit-transition: .4s;

}

.slider:before {
  position: absolute;
  content: "";
  height:20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label.myLabel input[type="file"] {
    position:absolute;
    top: -1000px;
}

/***** Example custom styling *****/
.myLabel {
  @include margin(2);
  @include padding(15 18);
  background: #2196F3;
  display: inline-block;
  text-transform: uppercase;
}

.myLabel :invalid + span {
    color: #fff;
}
.myLabel :valid + span {
    color: #fff;
}
